body {
  width: 80%;
  margin: auto;
}

.jumbotron {
  background-color: #0dc7c7;
  color: #1c1ca0;
  text-shadow: #dedee3 2px 2px 3px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,02.), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 5px;
  padding-top: 10px;
}

label {
  font-size: 18px;
}

.title {
  text-shadow: none;
  font-size: 22px;
  color: #39267e;
  margin-top: 30px;
}

.main {
  background-color: #c6c3c38c;
  border-radius: 10px;
  padding: 20px 30px;
  width: 70%;
  margin: auto;
  color: #39267e;
}

h3 {
  font-size: 24px;
}

.currencyBeginLabel {
  margin-left: 10px;
}

.nextSelect {
  margin-top: 10px;
}

.inputNewCurrency {
  margin-top: 20px;
}

.showConvertedAmount {
  /* display: none; */
  background-color: #c6c3c38c;
  color: #39267e;
  width: fit-content;
  margin: auto;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
  padding: 10px 40px;
  font-size: 22px;
}

