body {
  width: 80%;
  margin: auto;
  background-image: url(https://cache.desktopnexus.com/cropped-wallpapers/2497/2497817-1920x1080-[DesktopNexus.com].jpg?st=tOb2ta6joye5BM4VnBpfdw&e=1654308765);
}

.jumbotron {
  background-color: #c6c3c38c;
  color: #1c1ca0;
  text-shadow: #dedee3 2px 2px 3px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,02.), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 5px;
  padding-top: 10px;
}

label {
  font-size: 18px;
}

.title {
  text-shadow: none;
  font-size: 22px;
  color: #ffffff;
  margin-top: 30px;
}

.main {
  background-color: #c6c3c38c;
  border-radius: 10px;
  padding: 20px 30px;
  width: 50%;
  margin: auto;
  color:#1c1ca0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h3 {
  font-size: 28px;
}

.currencyBeginLabel {
  margin-left: 10px;
}

.nextSelect {
  margin-top: 10px;
}

.inputNewCurrency {
  margin-top: 20px;
}

.showConvertedAmount {
  display: none;
  background-color: #c6c3c38c;
  color:#1c1ca0;
  width: fit-content;
  margin: auto;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
  padding: 10px 40px;
  font-size: 24px;
}

label {
  font-style: oblique;
  font-weight: bold;
}

#convertMoney {
  margin-left: 10px;
}

